@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif;
    /*cursor: none;*/
}
div,p,span{
    caret-color: transparent;
}
input,textarea{
    caret-color: black;
}
